<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:task="http://www.springframework.org/schema/task"
  xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd">

  <!-- Enable the Spring MVC @Controller programming model -->
  <mvc:annotation-driven />

  <!-- Ant Path Mater -->
  <bean id="antPathMater" class="org.springframework.util.AntPathMatcher" />

  <!-- Apache Common Configuration -->
  <bean id="config" class="com.inno.odag.util.Config">
    <property name="common" ref="commonConfig"></property>
  </bean>

  <!-- Auto-detecting components -->
  <context:component-scan base-package="com.inno.odag">
    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
  </context:component-scan>

  <!-- commonConfig -->
  <bean id="commonConfig"
    class="org.apache.commons.configuration.PropertiesConfiguration">
    <constructor-arg index="0">
      <value>config/properties/config.properties</value>
    </constructor-arg>
    <property name="reloadingStrategy">
      <bean class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy" />
    </property>
  </bean>
  <!-- // Apache Common Configuration -->

  <!-- aop:aspectj-autoproxy -->
  <aop:aspectj-autoproxy />

  <!-- <bean class="com.innogrid.abp.aspect.EntityAspect" /> -->

</beans>